@font-face {
  font-family: 'gtam-standard';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Regular.woff') format('woff'),
       url('/fonts/GT-America-Standard-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gtam-standard';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/GT-America-Standard-Regular-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Regular-Italic.woff') format('woff'),
       url('/fonts/GT-America-Standard-Regular-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'gtam-standard';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/GT-America-Standard-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Bold.woff') format('woff'),
       url('/fonts/GT-America-Standard-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'gtam-compressed';
  src: url('/fonts/GT-America-Compressed-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Compressed-Bold.woff') format('woff'),
       url('/fonts/GT-America-Compressed-Bold.ttf') format('truetype');
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'gtam-standard', 'Helvetica', sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, #mainNav li {
  font-family: "gtam-compressed";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 24px;
}

/* Header */

.coverImage {
  position: relative;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 90vh;
  max-height: 750px;
}

header .logo {
  margin: 0 auto;
  border-top: 10px solid #fff;
  width: 100%;
  padding-top: 15px;
}

header .logo h1 {
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
}

header .logo figcaption {
  position: absolute;
  color: #666;
  right: 15px;
  bottom: 15px;
}

@media screen and (max-width: 1024px) {
  header .logo {
    width: calc( 100% - 40px );
    margin: 0 auto;
  }
  header .logo h1 {
    font-size: 42px;
  }
  #mainNav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  header .logo {
    width: 1000px;
  }

  #mainNav {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 45px 0;
    border-top: 10px solid #000;
  }

  #mainNav li { list-style: none; }
}

#mainNav a {
  display: block;
  padding: 32px 0;
  margin: 0 30px 0 0;
  font-size: 45px;
  line-height: 22px;
  font-weight: 700;
}

/* Content */

section {
  padding: 30px 20px;
}

@media screen and (min-width: 1024px) {
  section {
    padding: 45px 0;
  }
}

.sectionName {
  font-size: 60px;
  line-height: 54px;
  padding-top: 12px;
  margin: 0 0 30px 0;
  border-top: 5px solid #000;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .sectionName {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 45px 0;
  }
}

h2:not(.sectionName) {
  max-width: 750px;
  margin: 0 0 30px 0;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (max-width: 1024px) {
  .sectionName {
    font-size: 30px;
    line-height: 32px;
  }
}

p {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  max-width: 660px;
}

p {
  margin-bottom: 18px;
}

@media screen and (min-width: 1024px) {
  p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    max-width: 660px;
    margin-bottom: 28px;
  }
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

figcaption {
  color: #CCCCCC;
  font-size: 12px;
  /* text-align: right; */
  margin: 5px 5px 0 0;
}

.bigText,
.quoteText p {
  font-size: 22px;
  line-height: 28px;
  font-style: italic;
  font-weight: 700;
  max-width: 750px;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 720px) {
  .bigText,
  .quoteText p {
    font-size: 28px;
    line-height: 40px;
  }
}

.quoteSource {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  color: #999;
}

.quote p {
  max-width: 750px;
}

/* About */

#about .drawer:not(.drawerClosed) .drawerContents {
  padding-top: 20px;
}

.aboutMore {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

#about .drawer:not(.drawerClosed) .aboutMore {
  display: none;
}

@media screen and (min-width: 1024px) {
  #about .drawer:not(.drawerClosed) .drawerContents {
    padding-top: 30px;
  }

  .aboutMore {
    font-size: 18px;
    line-height: 28px;
  }
}

/* News */

#news h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

#news p {
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: 1024px) {
  #news .flex {
    margin: 0 -30px;
  }
  #news .newsItem {
    padding: 0 30px;
  }
}

/* Events */

.event {
  position: relative;
  padding: 10px 0 14px 0;
  border-top: 2px solid #000;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 720px) {
  .event {
    font-size: 16px;
    line-height: 24px;
  }

  .eventDate,
  .eventName,
  .eventLocation {
    display: block;
    width: calc(100% - 70px);
  }

  .eventDate {
    font-size: 11px;
    text-transform: uppercase;
  }

  .eventName {
    line-height: 18px;
    margin: 0 0 5px 0;
  }

  .eventLocation {
    font-size: 14px;
    line-height: 16px;
  }
}

.eventName {
  font-weight: 700;
  display: block;
}

.eventDetails a {
  display: block;
  color: #FF0058;
}

.event .drawerToggle {
  float: none;
  position: absolute;
  top: 30px;
  right: 15px;
  background: url('/images/icon-plus-red@2x.png');
  background-size: 100%;
}

.event:not(.drawerClosed) .eventDetails {
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  .event {
    padding: 20px 0 17px 0;
  }

  .eventHead {
    display: flex;
  }

  .eventDate {
    flex: 0 0 200px;
    padding-right: 30px;
    line-height: 1.3;
  }

  .eventHeadline {
    flex: 0 0 735px;
  }

  .eventName {
    display: inline;
    margin-right: 10px;
  }

  .eventDetails {
    margin-left: 200px;
  }

  .event .drawerToggle {
    position: static;
    flex-basis: 50px;
    margin: -13px 0px -15px 0;
  }

  .event:not(.drawerClosed) .eventDetails {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#pastEvents {
  margin-top: 30px;
}

#pastEvents a {
  display: inline-block;
  margin-left: 10px;
  color: #000;
}

/* Listen */

@media screen and (max-width: 720px) {
  #listen .sectionName {
    margin-bottom: 60px;
  }
}

#listen .sidebar {
  float: right;
  width: 125px;
}

@media screen and (max-width: 1024px) {
  #listen .sidebar .socialButtons {
    margin: 22px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  #listen .sidebar .socialButtons {
    margin: 22px 0 0 0;
  }
}

#listen .sidebar .socialButtons a {
  margin-right: 0;
  margin-left: 10px;
}

#listen .albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#listen .album {
  position: relative;
  width: 45%;
  height: 45%;
  margin: 0 15px 15px 0;
}

#listen .album img {
  width: 100%;
  height: 100%;
}

#listen .albumLinks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #listen .album {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 0 50px 0;
  }

  #listen .album:nth-child(3n+1),
  #listen .album:nth-child(3n+2) {
    margin-right: 50px;
  }

  #listen .albumLinks {
    position: absolute;
    width: 300px;
    height: 300px;
  }
}

#listen .albumLinks a {
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

#listen .albumLinks a:hover {
  text-decoration: underline;
}

#listen .albumLinks {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#listen .albumLinks:hover {
  opacity: 0.75;
}

/* Video */

#video .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#video .videos iframe {
  background-color: #000;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  #video .videos iframe {
    height: 300px;
    width: calc(50% - 25px);
    margin-bottom: 50px;
  }
}

/* Gallery */

#gallery {
  height: 215px;
}

.galleryWindow {
  width: 100vw;
  position: absolute;
  left: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.galleryContainer {
  width: 5000px;
  padding: 0 15px;
}

#gallery img {
  float: left;
  height: 270px;
  margin-right: 15px;
}

#gallery figcaption {
  margin-top: 160px;
}

@media screen and (min-width: 0px) {
  #gallery { height: 540px; }
  .galleryWindow { height: 420px; }
  .galleryContainer { padding: 0 20px; }
  #gallery img { height: 420px; }
  #gallery figcaption { margin-top: 435px; }
}

/* Sidebar */

.flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .sidebar {
    width: 210px;
  }
}

.sidebar span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #666;
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: underline;
  color: #666;
}

/* Social Buttons */

.socialButtons {
  margin-bottom: 20px;
}

.socialButtons img {
  max-width: 100%;
  max-height: 100%;
}

.socialButtons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  margin-right: 10px;
}

/* Things You Can Hover On */

.donateButton,
.socialButtons a {
  transition: opacity 0.2s;
}

.donateButton:hover,
.socialButtons a:hover {
  opacity: 0.8;
}

/* Drawer Utilities */

.drawer {
  cursor: pointer;
}

.drawerContents {
  cursor: default;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height 0.5s;
}

.drawerClosed .drawerContents {
  height: 0;
}

.drawerClosed .drawerToggle {
  transform: rotate(0deg);
}

.drawerToggle {
  float: right;
  width: 50px;
  height: 50px;
  margin: -15px -15px 0 0;
  background: url('/images/icon-plus-yellow@2x.png');
  background-size: 100%;
  transform: rotate(45deg);
  transition: transform 0.1s ease-out;
}

@media screen and (min-width: 1024px) {
  .drawerToggle {
    width: 50px;
    height: 50px;
    margin: -15px -15px 0 0;
  }
}

.drawerToggle:hover {
  cursor: pointer;
}

/* Footer */

footer .container {
  padding: 20px 15px;
}

@media screen and (min-width: 1024px) {
  footer .container {
    padding: 20px 0;
  }
}

footer span {
  font-size: 12px;
  color: #999;
}
